tmp
*.exe
*.dll
*.bmp
*.jpg
*.png
*.mp4
#_example/grace_hopper.bmp
#_example/grace_hopper.png
#_example/main.exe
#_example/notebook.png
#_example/output_graph.tflite
#_example/output_labels.txt
#_example/webcam/aaa.mp4
#_example/webcam/bbb.mp4
#_example/webcam/libtensorflowlite_c.dll
#_example/webcam/mobilenet_quant_v1_224.tflite
#_example/webcam/webcam.exe
.ipynb_checkpoints
