blazeface/face_detection_front.tflite
blazeface/face_detection_back.tflite
esrgan/ESRGAN.tflite
label_image/mobilenet_quant_v1_224.tflite
label_image_edgetpu/mobilenet_v2_1.0_224_quant_edgetpu.tflite
label_image_edgetpu/labels.txt
label_image_edgetpu/grace_hopper.jpg
label_image_xnnpack/v3-small_224_0.75_float.tflite
pose/multi_person_mobilenet_v1_075_float.tflite
qa/mobilebert_float_20191023.tflite
segment/deeplabv3_257_mv_gpu.tflite
smartreply/smartreply.tflite
ssd/detect.tflite
ssd_gl/detect.tflite
ssd_sixel/detect.tflite
ssd_xnnpack/detect.tflite
ssd_edgetpu/mobilenet_ssd_v2_coco_quant_postprocess_edgetpu.tflite
ssd_edgetpu/coco_labels.txt
style_transform/style_predict_quantized_256.tflite
style_transform/style_transfer_quantized_dynamic.tflite
text_classification/text_classification.tflite
webcam/mobilenet_quant_v1_224.tflite
yolo/yolov3-tiny.tflite
yolo/yolov4-416-fp32.tflite
audio_classification/yamnet.tflite
speech_commands/conv_actions_frozen.tflite
gesture_classification/model.tflite
recommendation/recommendation.tflite
recommendation/sorted_movie_vocab.json
reinforcement_learning/planestrike.tflite
video_classification/movinet_a0_stream.tflite
pose/movenet_lightning.tflite
pose/movenet_multipose.tflite
ocr/east_text_detector.tflite
ocr/text_recognition.tflite
# built example binaries
audio_classification/audio_classification
blazeface/blazeface
esrgan/esrgan
fizzbuzz/fizzbuzz
gesture_classification/gesture_classification
iris/iris
label_image/label_image
mnist/mnist
ocr/ocr
pose/pose
qa/qa
recommendation/recommendation
reinforcement_learning/reinforcement_learning
segment/segment
sin/sin
smartreply/smartreply
speech_commands/speech_commands
ssd/ssd
ssd_sixel/ssd_sixel
style_transform/style_transform
text_classification/text_classification
video_classification/video_classification
webcam/webcam
yolo/yolo
